{{#objects}}
    <div class="brackets-ui5-docs-panel-object">
        <h5>
            <a href="#"
                id="brackets-ui5-docs-panel-object-name"
                class="brackets-ui5-docs-panel-name"
                data-apiDocUrl="{{apiDocUrl}}"
                data-name="{{name}}">
                {{name}}
            </a>&nbsp;
            <a href="#"
                class="brackets-ui5-docs-panel-expand-link"
                data-target-description="pod:{{name}}">
                [+]
            </a>
            {{#hasBaseObject}}
                <div>
                    <span>extends:</span>
                    <a href="#"
                        id="brackets-ui5-docs-panel-extends-link">
                        {{extends}}
                    </a>
                </div>
            {{/hasBaseObject}}
            {{#isDeprecated}}
                <div class="brackets-ui5-red"> {{strings.DEPRECATED}}</div>
            {{/isDeprecated}}
            <div>
                → <a href="#"
                    id="brackets-ui5-docs-panel-insert-define-link"
                    data-name="{{name}}">
                    {{strings.INSERT_DEFINE}}
                </a>
                → <a href="#"
                    id="brackets-ui5-docs-panel-insert-replace-link"
                    data-name="{{name}}">
                    {{strings.INSERT}} (/)
                </a>
            </div>
        </h5>
        <p id="pod:{{name}}"
            class="brackets-ui5-docs-panel-api-description">
            {{description}}
        </p>
        {{> membersTemplate}}
         {{#inheritedApi}}
        <div class="brackets-ui5-docs-panel-borrowed">
            <h4 class="brackets-ui5-docs-panel-h4">Borrowed from {{name}}</h4>
            {{> membersTemplate}}
        </div>
        {{/inheritedApi}}
</div>
{{/objects}}
