<div id="brackets-ui5-docs-panel">
    <div id="brackets-ui5-docs-panel-header">
        <div>
            <button id="brackets-ui5-docs-panel-close" class="brackets-ui5-docs-panel-button btn-alt-quiet" type="button" title="{{strings.CLOSE}}"></button>
        </div>
        <span>{{DOCS_PANEL_TITLE}}</span>
    </div>
    <div>
        <input id="brackets-ui5-docs-panel-search"
            type="search"
            placeholder="{{SEARCH_PLACEHOLDER}}">
    </div>
    <div id="brackets-ui5-docs-panel-list">
        <div id="brackets-ui5-docs-panel-message"><span></span></div>
        <ul id="brackets-ui5-docs-panel-hits">
            <span class="brackets-ui5-bold">{{HITLIST_TITLE}}</span>
        </ul>
        <div id="brackets-ui5-docs-panel-api"></div>
    </div>
</div>
